.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.fuiaAj {
  color: white !important;
}
.SearchForAny{
  color: white !important;
}
.mb-3{
  margin-top: 3rem !important;
  margin-left: 5rem;
  margin-right: 5rem;
}
.form-control{
  text-align: center;
}
.card{
  margin-bottom: 3rem;
}
.title-Card{
  color: white;
}
.img-dog{
  padding-bottom: 3rem;
  border-radius: 10rem;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.codyElemtn{
  display: flex;
  justify-content: space-between;
  margin: 3em;
}
li{
  list-style-type: none;
}
.div-img h1{
  color: white;
}
.div-img img{
 border-radius: 2em;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


